@model IEnumerable<E_Commerce.Models.Role>

@{
    ViewData["Title"] = "Access Permission";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
} 

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Access Permission</span>
        </nav>
    </div>
</div>
<div class="row m-b-30">
    <div class="col-lg-8">
    </div>
    <div class="col-lg-4 text-right">
        <a asp-action="Create" class="btn btn-primary">
            <i class="anticon anticon-plus-circle m-r-5"></i>
            <span>Add Role</span>
        </a>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null) {
                foreach(var item in Model) {
                    <tr>
                        <th scope="row">@item.RoleId</th>
                        <td scope="row">@item.RoleName</td>
                        <td scope="row">@item.Description</td>
                        <td>
                            <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Details" asp-route-id="@item.RoleId">View</a>
                            <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Edit" asp-route-id="@item.RoleId">Edit</a>
                            <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Delete" asp-route-id="@item.RoleId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div> 

