@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<E_Commerce.Models.Product>

@{
    int currentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Products List " + currentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
} 

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Products List: Page @currentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-affix m-v-10">
                            <i class="anticon anticon-search opacity-04 prefix-icon"></i>
                            <input id="keyword" type="text" class="form-control" placeholder="Search Products">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-affix m-v-10">
                            <select class="custom-select" id="txtCatID" name="txtCatID" style="min-width: 220px;" asp-items="@ViewBag.Category">
                                <option value="" disabled selected>--Select Category--</option>
                                <option value="0" >All</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right m-v-10">
                <a asp-action="Create" class="btn btn-primary">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Add Product</span>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>In Stock</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="search-table">
                    @if (Model != null) {
                        foreach(var item in Model) {
                            <tr>
                                <td>@item.ProductId</td>
                                <td>@item.ProductName</td>
                                <td>@item.Cat.CatName</td>

                                @if (item.Price != null) {
                                    <td>@item.Price.Value.ToString("#,###,###") VNĐ</td>
                                }

                                <td>@item.UnitsInStock</td>
                                <td>
                                    @if (item.UnitsInStock > 0) {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>In Stock</div>
                                        </div>
                                    }
                                    else {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                            <div>Out Of Stock</div>
                                        </div>
                                    }
                                </td>
                                <td class="text-right">
                                    <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                        <i class="anticon anticon-edit"></i>
                                    </a>
                                    <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                        <i class="anticon anticon-delete"></i>
                                    </a>
                                    <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                        <i class="anticon anticon-account-book"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="paper-container" list="@Model" asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" asp-route-CatId="@ViewBag.CurrentCatId" />
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Pagination
            jQuery('#txtCatID').change(function() {
                var catID = jQuery(this).children(":selected").attr("value");
                catID=parseFloat(catID);
                $('#txtCatID option').removeAttr('selected');

                $("#txtCatID > [value = " + catID + "]").attr("selected", "true");
                $.ajax({
                    url: '/Admin/AdminProducts/Filter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        CatID: catID
                    },
                    async: true,
                    success: function(results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });

            // Search products
            $("#keyword").keyup(function() {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '/Admin/Search/FindProduct/',
                    datatype: "json",
                    type: "POST",
                    data: {keyword: strkeyword},
                    async: true,
                    success: function(results) {
                        $("#search-table").html("");
                        $("#search-table").html(results);
                    },
                    @* error: function(xhr) {
                        alert('ERROR !');
                    } *@
                });
            });
        });
    </script>
}