@model List<E_Commerce.ModelViews.CartItemViewModel>

<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" >
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Shopping Cart</h2>
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home<i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Shopping Cart</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    @if (Model != null && Model.Count() > 0) {
                        <form action="javascript:void(0)">
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="product_remove">remove</th>
                                            <th class="product-thumbnail">images</th>
                                            <th class="cart-product-name">Product</th>
                                            <th class="product-price">Unit Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-subtotal">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Count() > 0) {
                                            @foreach (var item in Model) {
                                                <tr>
                                                    <td class="product_remove">
                                                        <input type="button" value="X" class="removecart btn btn-primary" data-idpro="@item.product.ProductId" />
                                                    </td>
                                                    <td class="product-thumbnail">
                                                        <a href="javascript:void(0)">
                                                            <img style="width:100px !important;height:100px !important;" src="~/images/products/@item.product.Thumb" alt="@item.product.Title">
                                                        </a>
                                                    </td>
                                                    <td class="product-name"><a href="javascript:void(0)">@item.product.ProductName</a></td>
                                                    <td class="product-price"><span class="amount">@item.product.Price.Value.ToString("#,###,###") VNĐ</span></td>
                                                    <td class="quantity">
                                                        <div class="cart-plus-minus ">
                                                            <input data-idpro="@item.product.ProductId" data-unitprice="@item.product.Price" class="cartItem cart-plus-minus-box" value="@item.quantity" type="text">
                                                        </div>
                                                    </td>
                                                    <td class="product-subtotal"><span class="amount">@item.totalMoney.ToString("#,###,###") VNĐ</span></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="coupon-all">
                                        <div class="coupon">
                                            <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                            <input class="button mt-xxs-30" name="apply_coupon" value="Apply coupon" type="submit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 ml-auto">
                                    <div class="cart-page-total">
                                        <h2>Carts Total</h2>
                                        <ul>
                                            <li>Total<span>@Model.Sum(x => x.totalMoney).ToString("#,###,##0") VNĐ</span></li>
                                        </ul>
                                        @if (User.Identity.IsAuthenticated) {
                                            <a href="/checkout.html" class="btn btn-secondary btn-primary-hover">Purchase</a>
                                        }
                                        else {
                                            <a href="/login.html?returnUrl=/checkout.html"  class="btn btn-secondary btn-primary-hover">Purchase</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                    else {
                        <p>You haven't created any shipping order yet</p>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script>
        $(function () {
            $(".removecart").click(function() {
                var productid = $(this).attr("data-idpro");
                $.ajax({
                    url: "api/v1/cart/remove",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        productId: productid
                    },
                    success: function(result) {
                        if (result.success) {
                            window.location = 'cart.html';
                        }
                    }, 
                    error: function(rs) {
                        alert("DELETE ERROR");
                    }
                });
            });
            $(".cartItem").click(function() {
                var productid = $(this).attr("data-idpro");
                var quantityVal = parseInt($(this).val());
                $.ajax({
                    url: "api/v1/cart/update",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        productId: productid,
                        quantity: quantityVal
                    },
                    success: function(result) {
                        if (result.success) {
                            window.location = 'cart.html';
                        }
                    },
                    error: function(rs) {
                        alert("UPDATE cart ERROR");
                    }
                });
            });
        });
    </script>
}