@model List<Product>
@if (Model != null) {
    <div class="product-item-wrap row">
        @foreach (var item in Model) {
            string urlDetails = $"/product-{item.ProductId}.html";
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="product-item">
                    <div class="product-img img-zoom-effect">
                        <a href="@urlDetails">
                            <img style="height:240px;" class="img-full" src="~/images/products/@item.Thumb" alt="@item.Title">
                        </a>
                        <div class="product-add-action">
                            <ul>
                                <li>
                                    <a href="cart.html">
                                        <i class="pe-7s-cart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="compare.html">
                                        <i class="pe-7s-shuffle"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="wishlist.html">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <a class="product-name" href="@urlDetails">@item.ProductName</a>
                        <div class="price-box pb-1">
                            <span class="new-price">@item.Price.Value.ToString("#,###,###") VNĐ</span>
                        </div>
                        <div class="rating-box">
                            <ul>
                                <li><i class="pe-7s-star"></i></li>
                                <li><i class="pe-7s-star"></i></li>
                                <li><i class="pe-7s-star"></i></li>
                                <li><i class="pe-7s-star"></i></li>
                                <li><i class="pe-7s-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}