@model E_Commerce.ModelViews.ConfirmOrderViewModel

@{
    ViewData["Title"] = "Confirm Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<E_Commerce.ModelViews.CartItemViewModel> cart = ViewBag.shoppingCart;

}

<main class="main-content">
            <div class="breadcrumb-area breadcrumb-height" >
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-lg-12">
                            <div class="breadcrumb-item">
                                <h2 class="breadcrumb-heading">Confirm Order</h2>
                                <ul>
                                    <li>
                                        <a asp-controller="Home" asp-action="Index">Home<i class="pe-7s-angle-right"></i></a>
                                    </li>
                                    <li>Confirm Order</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkout-area section-space-y-axis-100">
                <div class="container">
                    <form asp-controller="Checkout" asp-action="Index" method="post">
                        <input hidden asp-for="CustomerId" />
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                    <div class="checkbox-form">
                                        <h3>Order Details</h3>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="checkout-form-list">
                                                    <label asp-for="FullName" class="control-label">Full Name*</label>
                                                    <input asp-for="FullName" placeholder="Full Name" type="text">
                                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list">
                                                    <label asp-for="Phone" class="control-label">Phone Number*</label>
                                                    <input asp-for="Phone" placeholder="Phone Number" type="text">
                                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list">
                                                    <label asp-for="Address" class="control-label">Address*</label>
                                                    <input asp-for="Address" placeholder="Address" type="text">
                                                    <span asp-validation-for="Address" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="your-order">
                                    <h3>Your order</h3>
                                    <div class="your-order-table table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="cart-product-name">Product</th>
                                                    <th class="cart-product-total">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (cart != null && cart.Count() > 0) {
                                                    @foreach (var item in cart) {
                                                        <tr class="cart_item">
                                                            <td class="cart-product-name">@item.product.ProductName<strong class="product-quantity">
                                                            × @item.quantity</strong></td>
                                                            <td style="padding-left:48px;" class="cart-product-total"><span class="amount">@item.totalMoney.ToString("#,###,###") VNĐ</span></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr class="cart-subtotal">
                                                    <th>Cart Subtotal</th>
                                                    <td style="padding-left:48px;" ><span class="amount">@cart.Sum(c => c.totalMoney).ToString("#,###,###") VNĐ</span></td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th>Order Total</th>
                                                    <td style="padding-left:48px;" ><strong><span class="amount">@cart.Sum(c => c.totalMoney).ToString("#,###,###") VNĐ</span></strong></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="payment-method">
                                        <div class="payment-accordion">
                                            <div id="accordion">
                                                <div class="card">
                                                    <div class="card-header" id="#payment-1">
                                                        <h5 class="panel-title">
                                                            <a href="javascript:void(0)" class="" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">
                                                            Direct Bank Transfer
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                                                        <div class="card-body">
                                                            <p>MB 689997777999 - PHAM QUANG TUYEN</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="#payment-2">
                                                        <h5 class="panel-title">
                                                            <a href="javascript:void(0)" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false">
                                                            Momo Payment
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                                        <div class="card-body">
                                                            <p>0387970037 - PHAM QUANG TUYEN</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="#payment-3">
                                                        <h5 class="panel-title">
                                                            <a href="javascript:void(0)" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                                                            PayPal
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                                        <div class="card-body">
                                                            <p>WILL UPDATE SOON</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="order-button-payment">
                                                <input value="Place order" type="submit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </main>